In [1]:
# Question 1: Create a list of first 10 square numbers
square = [i ** 2 for i in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res = sum(i for i in a if i%2 == 0)
res

30

In [14]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

a = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
p = list(set(a))
p

[1, 2, 3, 4, 5, 6, 7]

In [19]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

a = [64, 34, 25, 12, 22, 11, 90]
a.sort(reverse = True)
a

[90, 64, 34, 25, 22, 12, 11]

In [20]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

numbers =  [15, 23, 31, 42, 56, 78, 91]
average = sum(numbers) / len (numbers)
print("average",average)

average 48.0

In [27]:
# Question 6: Create a list of first 15 Fibonacci numbers
fibonacci = [0, 1]
for i in range(2,15):
    num = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(num)
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [40]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
n = [45, 67, 23, 89, 12, 34, 78]
p = sorted(n,reverse = True)
rev = p[1]
rev

78

In [41]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
a = [1, 5, 2, 5, 3, 5, 4, 5, 6]
res = a.count(5)
res

4

In [2]:
# Question 10: Create a list of prime numbers between 1 and 50
primes = []

for num in range(2, 51):
    for i in range(2,num):
        if num % i == 0:
            break
    else:
            primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [2]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = []
for sublist in list:
    for item in sublist:
        flat_list.append(item)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common= list(set(list1)&set(list2))
print(common)

[4, 5]

In [2]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

list = [[1, 2], [3, 4], [5, 6]]
list

[[1, 2], [3, 4], [5, 6]]

In [3]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
res = []
for sublist in list:
    total = 0
    for item in sublist:
        total += item
    res.append(total)
print(res)

[6, 15, 24]

In [16]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

matri = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
tranpose=[]
for i in range(3):
    row = []
    for j in range(3):
        row.append(matrix[j][i])
    tranpose.append(row)
print(tranpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [17]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
list = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
res = []
for sublist in list:
    res.append(max(sublist))
print(res)

[5, 9, 8]

In [18]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

list = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(list)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [9]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

list =  [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total = 0
for items in list:
    for item in items:
        for i in item:
            total += i
print(total)

36

In [1]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even = []
for sublist in list:
    for num in sublist:
        if num%2 == 0:
            even.append(num)
print(even

[2, 4, 6, 8]

In [30]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]

list = [1, "hello", 3.14, True, [1, 2, 3]]
print(list)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [6]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
list = ["apple", "banana", "cherry", "date"]
length = []
for i in list:
    length.append(len(i))
print(length)

[5, 6, 6, 4]

In [4]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
list_tuple =  [(1, 'a'), (2, 'b'), (3, 'c')]
print(list_tuple)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [7]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

list =  [(1, 'a'), (2, 'b'), (3, 'c')]
first_element = []
for i in list:
    first_element.append(i)
print(first_element)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [3]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

list = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(list)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [15]:
# Question 25: Extract all 'name' values from list of dictionaries
dict = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
names = []
for person in dict:
    names.append(person['name'])
print(names)

['Alice', 'Bob']

In [22]:
# Question 26: Find the person with maximum age in list of dictionaries
list = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
max_age = 0
oldest = ""
for person in list:
    person["age"] > max_age;
    max_age = person["age"]
    oldest = person["name"]
print(oldest, "is the oldest with age", max_age)

Bob is the oldest with age 30

In [1]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
list_4D = [[[[1, 2], [3, 4]], 
            [[5, 6], [7, 8]]], 
           [[[9, 10], [11, 12]],
            [[13, 14], [15, 16]]]
          ]
print(list_4D)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [4]:
# Question 28: Find the maximum value in 4D list
matrix = [[[[1, 2], [3, 4]],[[5, 6], [7, 8]]],[[[9, 10], [11, 12]],[[13, 14], [15, 16]]]]
max = 0
for items in matrix:
    for item in items:
        for i in item:
            for x in i:
             if x > max:
                max = x
print(max)

16

In [2]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
a = list([
    set([1, 2, 3]),
    set([4, 5, 6]),
    set([7, 8, 9])
])

print(a)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [3]:
# Question 30: Find the union of all sets in list of sets
result = set()          
for s in a:
    result = result.union(s)

print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
a =  [1+2j, 3+4j, 5+6j]
a

[(1+2j), (3+4j), (5+6j)]

In [3]:
# Question 32: Find the magnitude of each complex number in list
a =  [1+2j, 3+4j, 5+6j]
magnitude = []
for num in a:
    magnitude.append(abs(num))
print(magnitude)

[2.23606797749979, 5.0, 7.810249675906654]

In [4]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
nested_list =  [1, [2, 3], [4, [5, 6]], 7]
print(nested_list)

[1, [2, 3], [4, [5, 6]], 7]

In [8]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
def depth(lst):
    if not isinstance(lst, list):
        return 0
    return 1 + max([depth(item) for item in lst], default=0)

print(depth([1, [2, 3], [4, [5, 6]], 7]))

3

In [9]:
# Question 35: Create a list of functions: [len, str, int, float]
list_fun = [len, str, int, float]
print(list_fun)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [11]:
# Question 36: Apply each function in list to string "123"
list_fun = [len, str, int, float]
string = "123"
res = [func(string) for func in list_fun]
print(res)

[3, '123', 123, 123.0]

In [29]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

funcs = [lambda x: x*2, 
    lambda x: x**2, 
    lambda x: x+1]
print(funcs)

[<function <lambda> at 0x00000150488005E0>, <function <lambda> at 0x00000150488004A0>, <function <lambda> at 0x00000150488037E0>]

In [30]:
# Question 38: Apply each lambda function to 5
results = [func(5) for func in funcs]
print(results)

[10, 25, 6]

In [5]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
classes =  [list, dict, set, tuple]
print(classes)

[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [6]:
# Question 40: Create instances of each class in list
word=[list,set,dict,tuple]
inst=[cls()for cls in word]
print(inst)

[[], set(), {}, ()]

In [10]:
# Question 41: Create a list of None values: [None, None, None, None]

None_list = [None, None, None, None]
None_list

[None, None, None, None]

In [11]:
# Question 42: Replace all None values with 0 in list
None_list = [None, None, None, None]
res = [0 if x is None else x for x in None_list]
print(res)

[0, 0, 0, 0]

In [12]:
# Question 43: Create a list of boolean values: [True, False, True, False]

list =  [True, False, True, False]
list

[True, False, True, False]

In [17]:
# Question 44: Count True values in boolean list
list =  [True, False, True, False]
count_true = sum(list)
print(count_true)

2

In [25]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]

res =  [range(3), range(5), range(2)]
print(res)

[range(0, 3), range(0, 5), range(0, 2)]

In [3]:
# Question 46: Convert each range to list
res=[range(3),range(5),range(2)]
lists=[list(r) for r in res]
print(lists)

[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [3]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

gen_list = [(x for x in range(3)), (x for x in range(5))]
print(gen_list)

[<generator object <genexpr> at 0x000001DEF346E8C0>, <generator object <genexpr> at 0x000001DEF346E500>]

In [4]:
# Question 48: Convert each generator to list
gen_list = [(x for x in range(3)), (x for x in range(5))]

gens_to_lists = [list(g) for g in gen_list]
print(gens_to_lists)

[[0, 1, 2], [0, 1, 2, 3, 4]]

In [1]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
iters = [iter([1, 2, 3]), iter([4, 5, 6])]
print(iters)

[<list_iterator object at 0x000001DEF35B6710>, <list_iterator object at 0x000001DEF35B75E0>]

In [1]:
# Question 50: Extract all elements from each iterator
iters = [iter([1, 2, 3]), iter([4, 5, 6])]

result = [list(it) for it in iters]
print(result)

[[1, 2, 3], [4, 5, 6]]