In [1]:
# Question 1: Create a tuple of first 10 natural numbers

natural_numbers = tuple(range(1,11))
natural_numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(a))

10

In [3]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

a = ('a', 'b', 'c', 'd', 'e')
print(a[2])

c

In [7]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

a =  (23, 45, 12, 67, 34, 89, 56)
print(max(a))

89

In [8]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

a = (1, 5, 2, 5, 3, 5, 4, 5, 6)
a.count(5)

4

In [10]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

a =  (10,20.3,"data",True)
a

(10, 20.3, 'data', True)

In [19]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

a = ('java', 'python', 'c++', 'javascript')
a.index('python')

1

In [1]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

a = (10, 20, 30, 40, 50)
if 25 in a:
    print("25 is present")
else:
    print("25 is not present")

25 is present

In [22]:
# Question 9: Create a tuple of first 5 even numbers

a = tuple(range(2,12,2))
a

(2, 4, 6, 8, 10)

In [23]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

a = (15, 23, 31, 42, 56, 78)
average = sum(a) / len(a)
print("Average", average)

Average 40.833333333333336