In [2]:
# Question 1: Create a set of first 10 natural numbers
a = set(range(1,11))
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}

set = {1, 2, 3, 4, 5}
set.add(11)
print(set)

{1, 2, 3, 4, 5, 11}

In [6]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}

set =  {1, 2, 3, 4, 5, 6}
set.remove(3)
set

{1, 2, 4, 5, 6}

In [8]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

intersection = a & b
intersection

{4, 5}

In [13]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

a = {1, 2, 3, 4, 5}
b =  {4, 5, 6, 7, 8}
result =a.difference(b)
print(result)

{1, 2, 3}

In [17]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}

a = {1, 2, 3, 4, 6, 7, 8}
if 5 in a:
    print("5 in set")
else:
    print("5 not in set")

5 not in set

In [18]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}

a = {'a', 'b', 'c', 'd', 'e'}
print(len(set))

5

In [21]:
#Question 8: Create a set of vowels from string "hello world"

a = "hello world"
vowels = {'a' , 'e' , 'i' ,'o' , 'u'}
new = {i for i in a if i in vowels }
print(new)

{'e', 'o'}

In [2]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

a =[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
new = set(a)
print(new)

{1, 2, 3, 4, 5, 6, 7}

In [1]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
a = {1, 2, 3}
b =  {1, 2, 3, 4, 5, 6}
res = a.issubset(b)
print(res)

True